@model List<LinkShortener.Models.Link>
@{
    ViewData["Title"] = "Dashboard";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span data-feather="calendar"></span>
                <span id="ddText">This hour</span>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#" data-val="1">This hour</a>
                <a class="dropdown-item" href="#" data-val="2">This day</a>
                <a class="dropdown-item" href="#" data-val="3">This week</a>
                <a class="dropdown-item" href="#" data-val="4">This month</a>
                <a class="dropdown-item" href="#" data-val="5">This year</a>
            </div>
        </div>
    </div>

</div>
@{
    foreach (var link in Model)
    {
        <canvas class="my-4 w-100 d-none" id=@("chartHour"+link.Id) data-loaded="0" width="900" height="380"></canvas>
        <canvas class="my-4 w-100 d-none" id=@("chartDay"+link.Id) data-loaded="0" width="900" height="380"></canvas>
        <canvas class="my-4 w-100 d-none" id=@("chartWeek"+link.Id) data-loaded="0" width="900" height="380"></canvas>
        <canvas class="my-4 w-100 d-none" id=@("chartMonth"+link.Id) data-loaded="0" width="900" height="380"></canvas>
        <canvas class="my-4 w-100 d-none" id=@("chartYear"+link.Id) data-loaded="0" width="900" height="380"></canvas>
    }
}
<canvas class="my-4 w-100" id="chartHour" data-loaded="1" width="900" height="380"></canvas>
<canvas class="my-4 w-100 d-none" id="chartDay" data-loaded="1" width="900" height="380"></canvas>
<canvas class="my-4 w-100 d-none" id="chartWeek" data-loaded="1" width="900" height="380"></canvas>
<canvas class="my-4 w-100 d-none" id="chartMonth" data-loaded="1" width="900" height="380"></canvas>
<canvas class="my-4 w-100 d-none" id="chartYear" data-loaded="1" width="900" height="380"></canvas>

<h2>Links</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Short Url</th>
                <th>Long Url</th>
                <th>Clicks</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var link in Model)
                {
                    <tr>
                        <td>https://localhost:5001/@link.Id</td>
                        <td>@link.FullUrl</td>
                        <td>@link.Clicks.Count</td>
                        <td><button onclick="getChart('@link.Id')" class="btn btn-light"><octicon symbol="Graph"></octicon></button></td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="~/js/dashboard.js" asp-append-version="true"></script>
}