@model LinkShortener.Models.Payout

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Payout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecipientType" class="control-label"></label>
                <input asp-for="RecipientType" class="form-control" />
                <span asp-validation-for="RecipientType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receiver" class="control-label"></label>
                <input asp-for="Receiver" class="form-control" />
                <span asp-validation-for="Receiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayoutBatchId" class="control-label"></label>
                <select asp-for="PayoutBatchId" class ="form-control" asp-items="ViewBag.PayoutBatchId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="control-label"></label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

